include app/lib/_mixin

doctype html
html(lang="es")

	+head
		title Playgroups
		meta(name="keywords" content="Estancia infantil, guarderia niños, instalaciones, niños, bebes, guarderias, lactantes, maternal, juegos Didacticos, Niñera, after school")
		meta(name="description" content="Estancia infantil, guarderia niños, instalaciones Para asegurar a tu hijo las instalaciones son la clave una estancia infantil debe contar con las instalaciones adecuadas para los niños, bebes, lactantes, las instalaciones adecuadas conllevan todo tipo de instalaciones, tales como instalaciones de aire, instalaciones de agua,  instalaciones de salones de clases, instalaciones de cocina, instalaciones de juego, instalaciones, instalaciones de oficinas, instalaciones de aseo, instalaciones de cocina, instalaciones de gas")
		link(rel="canonical" href="http://kokundaycare.com.mx/")
		
	body

		+header('Playgroups')

		.container: .notification.is-orange.has-text-centered PLAYGROUPS / ESTIMULACIÓN TEMPRANA
		section.section: .container
			.columns
				.column.is-6.is-offset-3: h2.has-text-centered.text-purple ¡Los bebés y sus papás aman los Playgroups de Kokun!
			.columns
				.column.is-12
					p Tú bebé es tan pequeño por tan corto tiempo aprovecha al máximo este tiempo especial en su vida y en la tuya.
					h4.text-green.mt.mb.is-size-5 ¿Qué es un Baby Playgroup?
					p Es un grupo de Mamás, Papás y Maestra que se reúnen con sus Bebés cada semana para interactuar (desarrollar competencias como Padres), recibir apoyo (Confianza) y disfrutar mutuamente.
					h4.text-blue.mt.mb.is-size-5.has-text-centered Competencia + Confianza + Disfrutar Mutuamente + Aprendizaje + Estimulación Temprana
					h4.text-green.mt.mb.is-size-5 ¿Por qué ir a un Baby Playgroup?
					p Los cambios son tan rápidos cuando tu bebé crece y se desarrolla. Las investigaciones recientes indican que los primeros tres años de vida de tu bebé son cruciales para el desarrollo cerebral,su salud y bienestar. Para un desarrollo óptimo un bebé necesita un ambiente que lo estimule a jugar y a aprender. Los Baby Playgroups ofrecen a todos los bebés la oportunidad de jugar y aprender… le ofrece una gran variedad de experiencias de aprendizaje temprano. El playgroup les da a los padres la opotunidad de exponer sus ideas, frustraciones y satisfacciones sobre la crianza de sus bebés. Muchas amistades a largo plazo nacen en estos Playgroups.
			.columns
				.column.is-6
					h4.text-purple.mt.mb.is-size-5.has-text-centered En el Playgroup tú bebé:
					ul
						li Se divertirá Jugando Contigo
						li Disfrutará estar con otros Bebés y Niños Pequeños
						li Explorará un Mundo Nuevo repleto de Experiencias Frescas
						li Desarrollará una Rutina Semanal
						li Experimentará con Diferentes Materiales
						li Se Relacionará con otros Adultos
						li Aprenderá a Desarrollar Habilidades Nuevas
						li Fortalecerá sus Patrones de Movimiento

				.column.is-6
					h4.text-purple.mt.mb.is-size-5.has-text-centered En el Playgroup tú:
					ul
						li Aprenderás ejercicios con tu bebé para mantenerte en forma
						li Te llevarás tips muy útiles
						li Aprenderás masajes, canciones y técnicas de relajación
						li Profundizarás en la etapa de desarrollo que se encuentra tu bebé
						li Saldrás de casa
						li Platicarás con otros padres
						li Harás nuevas amistades
						li Compartirás experiencias

		+serviciosOfrece('is-blue')

		+contamoscon('is-purple')
		
		+footer
		+scripts
